In [50]:
import pandas as pd
import re

In [51]:
data=pd.read_excel('anova_lab_data.xlsx',
                 names=['power',
                        'etching_rate'],)

In [52]:
data.head(1)

   power  etching_rate
0  160 W          5.43

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   power         15 non-null     object
 1   etching_rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [40]:
# Extract the "W" from df['power'] in oder to convert dtype from object to integer
import re
data['power']= data['power'].str.extract('(\d+)')

In [41]:
data.head()

  power  etching_rate
0   160          5.43
1   180          6.24
2   200          8.79
3   160          5.71
4   180          6.71

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   power         15 non-null     object
 1   etching_rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [43]:
data['power']= data['power'].astype(int)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   power         15 non-null     int32
 1   etching_rate  15 non-null     float64
dtypes: float64(1), int32(1)
memory usage: 308.0 bytes

# State the null hypothesis
 We drop the null hypothesis as the groups means are not equal 

# State the alternate hypothesis
 At least one of the Group means is different. group means are respectively 5.792, 6.238 and 8.318
 
# What is the significance level

The significance level of an event is the probability that the event could have occurred by chance. 
If the level is quite low, that is, the probability of occurring by chance is quite small, we say the event is significant. 

# What are the degrees of freedom of model, error terms, and total DoF

degrees of freedom of model= n – 1 (where “n” is the number of items in your set)
error terms = The amount by which an observed variate differs from the value predicted by the model.
total DoF = tot n - 1

In [45]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

In [46]:
model=ols('etching_rate ~ C(power)',data=data).fit()

In [47]:
results_table=sm.stats.anova_lm(model)

In [48]:
results_table

            df     sum_sq   mean_sq          F    PR(>F)
C(power)   2.0  18.176653  9.088327  36.878955  0.000008
Residual  12.0   2.957240  0.246437        NaN       NaN

# What conclusions can you draw from the experiment and why?

there is a statistically significance because the result 0.000008 is > 0.05 p-value which it means that exclude the null hypothesis.